### Importar Libraries

In [43]:
import numpy as np
import pandas as pd

### Importar Dataset

In [44]:
df = pd.read_csv("data/bank-full.csv", sep= ";")

In [45]:
df.shape

(45211, 17)

In [46]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [47]:
# Obtener el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [48]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [49]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [50]:
# número de duplicados
duplicates = len(df[df.duplicated()])
print(f'Number of Duplicate Entries: {duplicates}')

Number of Duplicate Entries: 0

In [51]:
# número de valores perdidos
missing_values = df.isnull().sum().sum()
print(f'Number of Missing Values: {missing_values}')

Number of Missing Values: 0

Limpieza de datos

Se confuguran los tipos de datos al formato adecuado

Conversión de características

In [52]:
df["job"].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [53]:
df["marital"].value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [54]:
df["education"].value_counts()

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

In [55]:
df["default"].value_counts()

no     44396
yes      815
Name: default, dtype: int64

In [56]:
df["housing"].value_counts()

yes    25130
no     20081
Name: housing, dtype: int64

In [57]:
df["loan"].value_counts()

no     37967
yes     7244
Name: loan, dtype: int64

In [58]:
df["contact"].value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [59]:
df["month"].value_counts()

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

In [60]:
df["poutcome"].value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [61]:
"""mapyn = {'no': 0,'yes': 1  }
df["loan"] = df["loan"].map(mapyn)
df["housing"] = df["housing"].map(mapyn)
df["default"] = df["default"].map(mapyn)
df["poutcome"] = df["poutcome"].map(mapyn)
"""

'mapyn = {\'no\': 0,\'yes\': 1  }\ndf["loan"] = df["loan"].map(mapyn)\ndf["housing"] = df["housing"].map(mapyn)\ndf["default"] = df["default"].map(mapyn)\ndf["poutcome"] = df["poutcome"].map(mapyn)\n'

In [62]:
month_map = {'jan': 1,'feb': 2 , 'mar': 3, 'apr': 4 , 'may': 5 ,'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10 , 'nov': 11, 'dec': 12}
df["month"] = df["month"].map(month_map)


job_map = {
    'blue-collar': 0,
    'management': 1,
    'technician': 2,
    'admin.': 3,
    'services': 4,
    'retired': 5,
    'self-employed': 6,
    'entrepreneur': 7,
    'unemployed': 8,
    'housemaid': 9,
    'student': 10,
    'unknown': 11
}

# Aplicar el mapeo a la columna 'job'
df["job"] = df["job"].map(job_map)

contact_map = {
    'cellular': 0,
    'unknown': 1,
    'telephone': 2
}

# Aplicar el mapeo a la columna 'contact'
df["contact"] = df["contact"].map(contact_map)

marital_map = {
    'married': 0,
    'single': 1,
    'divorced': 2
}

# Aplicar el mapeo a la columna 'marital'
df["marital"] = df["marital"].map(marital_map)


education_map = {
    'secondary': 0,
    'tertiary': 1,
    'primary': 2,
    'unknown': 3
}

# Aplicar el mapeo a la columna 'education'
df["education"] = df["education"].map(education_map)

poutcome_map = {
    'unknown': 0,
    'failure': 1,
    'other': 2,
    'success': 3
}

# Aplicar el mapeo a la columna 'poutcome'
df["poutcome"] = df["poutcome"].map(poutcome_map)



print(df)

       age  job  marital  education default  balance housing loan  contact  \
0       58    1        0          1      no     2143     yes   no        1
1       44    2        1          0      no       29     yes   no        1
2       33    7        0          0      no        2     yes  yes        1
3       47    0        0          3      no     1506     yes   no        1
4       33   11        1          3      no        1      no   no        1
...    ...  ...      ...        ...     ...      ...     ...  ...      ...
45206   51    2        0          1      no      825      no   no        0
45207   71    5        2          2      no     1729      no   no        0
45208   72    5        0          0      no     5715      no   no        0
45209   57    0        0          0      no      668      no   no        2
45210   37    7        0          0      no     2971      no   no        0

       day  month  duration  campaign  pdays  previous  poutcome    y
0        5      5       261         1     -1         0         0   no
1        5      5       151         1     -1         0         0   no
2        5      5        76         1     -1         0         0   no
3        5      5        92         1     -1         0         0   no
4        5      5       198         1     -1         0         0   no
...    ...    ...       ...       ...    ...       ...       ...  ...
45206   17     11       977         3     -1         0         0  yes
45207   17     11       456         2     -1         0         0  yes
45208   17     11      1127         5    184         3         3  yes
45209   17     11       508         4     -1         0         0   no
45210   17     11       361         2    188        11         2   no

[45211 rows x 17 columns]

Se crea un nuevo csv con la limpieza de datos

In [63]:
df.to_csv('data/bank_full_limpio.csv', encoding='utf-8' , index=False)